<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py04_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

```
for 변수 in reiterable_type:
    반복해서 실행할 문장(들)
```

* reiterable type: 반복 가능한 자료 타입
    * range, list, tuple, dict, set, str,...

In [ ]:
# range(stop): 0 <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# range(start, stop): start <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [ ]:
# range(start, stop, step): start <= x < stop 범위의 step만큼 증가 또는 감소하는 정수 생성.
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

In [ ]:
for x in range(5, 0, -1):
    print(x)

5
4
3
2
1

In [ ]:
for x in '안녕하세요':
    print(x)

안
녕
하
세
요

In [ ]:
# 연습문제
for x in range(1,6):
    print('*' * x)

*
**
***
****
*****

In [ ]:
# 연습문제: 구구단 12단 출력
for x in range(1, 13):
    print(f'12 x {x} = {12*x}')

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

# 중첩 반복문 (Nested Iteration)
반복문 안에 또 다른 반복문을 사용

In [ ]:
# 구구단 2단 ~ 9단 출력
for x in range(2, 10):
    for y in range(1, 10):
        print(f'{x}x{y}={x*y}')
    print('------')

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
------
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
------
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
------
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
------
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
------
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
------
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
------
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
------

# `break`와 `continue`

* break: iteration을 종료. break가 포함된 가장 가까운 반복문을 빠져나옴.
* continue: (반복문 내부의 실행문 수행을 멈추고) 그 다음 iteration을 수행.

In [ ]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

In [ ]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

In [ ]:
# 구구단 출력
for x in range(2, 10):
    for y in range(1, 10):        
        print(f'{x} x {y} = {x*y}')
        if y == x:
            break
    print('------')

2 x 1 = 2
2 x 2 = 4
------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------

In [ ]:
for x in range(2, 10):
    for y in range(1, x+1):
        print(f'{x} x {y} = {x*y}')
    print('-----')

2 x 1 = 2
2 x 2 = 4
-----
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
-----
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
-----
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
-----
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
-----
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
-----
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
-----
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-----