<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py06_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

list: 여러개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.

* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에 원소들이 저장된 위치(번호).
    * 리스트의 인덱스는 **0** 부터 시작.
    * 리스트에서 마지막 원소의 인덱스는  **(원소의 개수 - 1)**
* 리스트는 원소들을 추가/삭제/변경할 수 있음.
    * tuple과 다른 점!

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 20, 3, 40, 7]
print(numbers)

[1, 20, 3, 40, 7]

In [ ]:
numbers

ipynb의 코드 셀에서 가장 마지막 줄의 문장이 식(expression)이면 식을 평가한 결과를 자동으로 출력해줌

In [ ]:
type(numbers)

list

# Indexing

인덱스를 사용해서 리스트의 원소를 사용하는 방법.

In [ ]:
numbers[0]  # list의 첫번째 원소

1

In [ ]:
numbers[4]  # list의 마지막 원소

7

In [ ]:
numbers[-2] # list에서 끝에서 두번째 원소

40

In [ ]:
numbers[5]  # IndexError

Slicing

In [ ]:
numbers[1:4]

[20, 3, 40]

```
list[start:end]
```

* start <= index < end 범위의 인덱스 위치의 원소들을 선택
* start가 생략되면 리스트의 첫번째 원소부터 선택 (0 <= index < end 범위의 모든 원소 선택)
* end가 생략되면 리스트의 마지막 원소까지 선택 (start <= index 범위의 모든 원소들을 선택)
* slicing의 결과는 새로운 list

In [ ]:
numbers[:3]

[1, 20, 3]

In [ ]:
numbers[2:]

[3, 40, 7]

In [ ]:
numbers[-3:]

[3, 40, 7]

In [ ]:
numbers[0]  # > indexing 의 결과: 값(int)

1

In [ ]:
numbers[0:1]    # > slicing의 결과: 원소가 1개인 list

[1]

# 문자열 (str)

문자들의 리스트
* 문자열 객체도 리스트 객체처럼 indexing과 slicing을 사용할 수 있다.

In [ ]:
message = 'Hello, Python!'  # 14개의 문자들을 원소로 갖는 문자열

In [ ]:
message[0]  # 문자열에서 첫번째 문자

'H'

In [ ]:
message[13] # 문자열에서 가장 마지막 문자

'!'

In [ ]:
message[-1]

'!'

In [ ]:
message[:3] # 문자열에서 첫 세 글자

'Hel'

In [ ]:
message[-3:]    # 문자열에서 마지막 세 글자

'on!'

# list의 산술 연산

* `+`: concatenate: 두개의 리스트를 하나의 리스트로 합침.
* `*`: replicate 리스트의 원소들을 곱해주는 숫자만큼 복사해서 원소의 개수를 늘림

In [ ]:
'Hello' + 'Python'

'HelloPython'

In [ ]:
[1,2,3] + [10,20,30]

[1, 2, 3, 10, 20, 30]

# list의 기능들(메소드)

## element 추가

In [ ]:
numbers

[1, 20, 3, 40, 7]

`list.append(arg)`

리스트의 가장 마지막에 새로운 원소(arg)를 추가

In [ ]:
numbers.append(100)
numbers

[1, 20, 3, 40, 7, 100]

`list.insert(index, value)`: list의 index 위치에 value를 추가

In [ ]:
numbers.insert(1, 100)
numbers

[1, 100, 20, 3, 40, 7, 100]

`list.extend(iterable)`

리스트 이어 붙이기 (concatenate)

In [ ]:
numbers.extend([2,4,6]) # numbers + [2,4,6]
numbers

[1, 100, 20, 3, 40, 7, 100, 2, 4, 6]

In [ ]:
# 주의 !!!
numbers.append([1,3,5]) # 리스트의 가장 마지막에 다른 리스트가 원소로 추가 됨
numbers

[20, 3, 40, 7, 100, 2, 4, [1, 3, 5]]

# element 삭제

`list.remove(value)`

list에서 처음 등장하는 value 한 개를 삭제.

In [ ]:
numbers.remove(100)
numbers

[1, 20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5]]

`list.pop(index)`

list에서 index 위치에 있는 값을 삭제. index를 전달하지 않으면 list에서 가장 마지막 원소를 삭제.

In [ ]:
numbers.pop(0)
numbers

[20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5]]

In [ ]:
numbers.pop()

[1, 3, 5]

In [ ]:
numbers

[20, 3, 40, 7, 100, 2, 4]

`list.clear()`

list의 모든 원소들을 삭제

In [ ]:
numbers.clear()

In [ ]:
numbers # > empty list (빈 리스트)

[]

## list의 값 수정

```
list[index] = value 
```

In [ ]:
numbers = [1,3,5,7]
numbers

[1, 3, 5, 7]

In [ ]:
# 인덱스 1 위치의 값(3)을 100으로 변경
numbers[1] = 100

In [ ]:
numbers

[1, 100, 5, 7]

# list와 for 반복문

In [ ]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [ ]:
for x in numbers:
    print(x)

1
100
5
7

리스트에서 인덱스와 그 인덱스의 원소가 모두 필요한 경우

In [ ]:
len(numbers)    # 리스트 numbers의 원소의 개수를 리턴.

4

In [ ]:
for i in range(len(numbers)):
    print(i, ':', numbers[i])

0 : 1
1 : 100
2 : 5
3 : 7

In [ ]:
# list에서 리스트의 인덱스와 그 인덱스 위치의 값을 동시에 반복(iteration)
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 100
2 : 5
3 : 7

# Exercises

Python에서 난수생성: random 모듈을 import하고 random 모듈에 있는 함수들을 사용

In [6]:
import random   # random 모듈 import(사용)

In [ ]:
random.random() # 0 <= x < 1 범위의 실수(float)

0.18481747057266862

In [ ]:
random.randrange(1,5)   # 1 <= x < 5 범위의 정수(int) 난수를 리턴

3

In [ ]:
random.randrange(5) # 0 <= x < 5 범위의 정수 난수를 리턴

2

In [ ]:
random.randint(1,5) # 1 <= x <= 5 범위의 정수 난수를 리턴

4

# Ex 1
    1. 빈 리스트를 생성
    2. 1 이상 10 이하의 정수 난수 5개를 저장
    3. 리스트에 저장된 모든 정수들의 합을 계산, 출력
    4. 리스트에 저장된 모든 정수들의 평균을 계산, 출력

In [12]:
numbers = []
numbers

[]

In [13]:
for _ in range(5):
    numbers.append(random.randrange(1,11))
    print(numbers)

[4]
[4, 7]
[4, 7, 3]
[4, 7, 3, 5]
[4, 7, 3, 5, 8]

In [15]:
sum(numbers)    # sum(iterable): iterable 타입 객체의 모든 원소들의 합을 리턴

27

In [14]:
total = 0
for x in numbers:
    total += x
total

27

In [16]:
total / len(numbers)

5.4

# Ex 2
* 1. 빈 리스트(numbers) 생성.
* 2. `[10, 100)` 범위의 난수 10개를 빈 리스트 numbers에 저장.
* 3. numbers에서 짝수들만 선택해서 evens 리스트에 저장.
* 4. numnbers에서 홀수들만 선택해서 odds 리스트에 저장.

In [17]:
numbers = []
numbers

[]

In [18]:
for _ in range(10):
    numbers.append(random.randrange(10,100))
    print(numbers)

[46]
[46, 55]
[46, 55, 89]
[46, 55, 89, 93]
[46, 55, 89, 93, 44]
[46, 55, 89, 93, 44, 50]
[46, 55, 89, 93, 44, 50, 83]
[46, 55, 89, 93, 44, 50, 83, 68]
[46, 55, 89, 93, 44, 50, 83, 68, 93]
[46, 55, 89, 93, 44, 50, 83, 68, 93, 96]

In [22]:
evens = []
for x in numbers:
    if x % 2 == 0:
        evens.append(x)
evens

[46, 44, 50, 68, 96]

In [23]:
odds = []
for x in numbers:
    if x % 2 == 1:
        odds.append(x)
odds

[55, 89, 93, 83, 93]

## Ex 3.

1. 빈 리스트(numbers)를 생성.
1. `[-10, 10]` 범위의 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트 is_positives를 만들고 출력.

In [24]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(-10,11))
numbers

[3, -10, -2, 2, -5, 8, 8, -5, -1, 9]

In [26]:
is_positives = []
for x in numbers:
    if x > 0 :
        is_positives.append(True)
    elif x < 0 :
        is_positives.append(False)
is_positives

[True, False, False, True, False, True, True, False, False, True]

## Ex 4.

1. 빈 리스트 gender_codes를 생성.
1. gender_codes에 0 또는 1을 랜덤하게 10번 저장.
1. gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장하는 리스트 genders를 만들고 출력.

In [32]:
gender_codes = []
genders = []
for _ in range(10):
    gender_codes.append(random.randrange(0,2))
gender_codes

[1, 1, 1, 1, 0, 0, 0, 0, 0, 0]

In [34]:
for x in gender_codes:
    if x == 0:
        genders.append('Male')
    if x == 1:
        genders.append('Female')
print(genders)

['Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male']

# List Comprehension 연습

# Ex 1.
* 1. 0 또는 1을 랜덤하게 10개를 저장하는 리스트 gender_codes를 만들고 출력
* 2. gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장하는 리스트 genders를 만들고 출력

In [ ]:
gender_codes = [random.randrange(0,2) for _ in range(10)]
gender_codes

[1, 0, 0, 0, 0, 1, 0, 0, 1, 1]

# Ex 2.
* 0, 1, 2를 랜덤하게 10개 저장하는 리스트 gender_codes를 만들고 출력.
* gender_codes의 값이 0이면 'Male', 1이면 'Female', 2이면 'Unknown'을 저장하는 리스트 genders를 만들고 출력.

In [ ]:
gender_codes = [random.randrange(0,3) for _ in range(10)]
gender_codes

[0, 2, 1, 0, 1, 2, 1, 1, 2, 0]

In [ ]:
genders = ['Male' if x == 0 else ('Female' if x == 1 else 'Unknown')
            for x in gender_codes]
genders

['Male',
 'Unknown',
 'Female',
 'Male',
 'Female',
 'Unknown',
 'Female',
 'Female',
 'Unknown',
 'Male']

# Ex 3.
* 1. 0 이상 10 미만의 정수 난수 10개를 저장하는 리스트 numbers1을 만들고 출력.
* 2. 0 이상 10 미만의 정수 난수 10개를 저장하는 리스트 numbers2을 만들고 출력.
* 3. numbers1과 numbers2에서 같은 인덱스의 원소들끼리의 합을 저장하는 리스트 adds를 만들고 출력.
* 4. numbers1과 numbers2에서 같은 인덱스의 원소들끼리의 곱을 저장하는 리스트 mutiplicatoins를 만들고 출력.
* 5. mutiplications의 모든 원소들의 합을 계산하고 출력.

In [ ]:
numbers1 = [random.randrange(0, 10) for _ in range(10)]
numbers1

[3, 9, 4, 8, 0, 0, 5, 8, 8, 2]

In [ ]:
numbers2 = [random.randrange(0,10) for _ in range(10)]
numbers2

[0, 8, 8, 6, 3, 4, 6, 3, 8, 5]

In [ ]:
adds = [numbers1[i] + numbers2[i] for i in range(10)]
adds

[3, 17, 12, 14, 3, 4, 11, 11, 16, 7]

In [ ]:
adds = [x + y for x, y in zip(numbers1, numbers2)]
adds

[3, 17, 12, 14, 3, 4, 11, 11, 16, 7]

In [ ]:
multiplications = [x * y for x, y in zip(numbers1, numbers2)]
multiplications

[0, 72, 32, 48, 0, 0, 30, 24, 64, 10]

In [ ]:
sum(multiplications)

280

In [ ]:
total = 0
for x in multiplications:
    total += x
total

280

# 다차원 리스트

In [ ]:
matrix = [ [1,2,3], [4,5,6], [7,8,9] ]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 2차원 리스트의 indexing

In [ ]:
matrix[0]

[1, 2, 3]

In [ ]:
matrix[0][0]

1

In [ ]:
matrix[1][2]

6

# 2차원 리스트와 for 반복문

In [ ]:
for x in matrix:
    print(x)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
for row in matrix:
    for x in row:
        print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
for row in matrix:
    for x in row:
        print(x, end=' ')
    print() # 줄바꿈

1 2 3
4 5 6
7 8 9

## 2차원 리스트와 list comprehension

In [ ]:
# 3x3 모양의 정수 난수 9개를 저장하는 2차원 리스트를 생성.
matrix1 = []    # 빈 리스트 - 1차원 리스트들을 저장하기 위한 리스트.
for _ in range(3):
    row = []    # 빈 리스트 - 3개의 난수를 저장하기 위한 리스트.
    for _ in range(3):
        row.append(random.randrange(10))
    matrix1.append(row)
matrix1

[[9, 9, 0], [8, 9, 8], [0, 5, 3]]

In [ ]:
matrix2 = []
for _ in range(3):
    row = [random.randrange(10) for _ in range(3)]
    matrix2.append(row)
matrix2

[[9, 3, 9], [9, 5, 8], [2, 4, 0]]

In [ ]:
matrix3 = [ [random.randrange(10) for _ in range(3)] for _ in range(3) ]
matrix3

[[5, 2, 4], [3, 3, 3], [6, 8, 0]]

In [ ]:
# matrix1, matrix2 의 각 원소들의 합으로 
adds = []   # 각 원소들끼리의 합을 저장할 리스트
for row1, row2 in zip(matrix1, matrix2):
    temp = []
    for x, y in zip(row1, row2):
        temp.append(x + y)
    adds.append(temp)
adds

[[18, 12, 9], [17, 14, 16], [2, 9, 3]]

In [ ]:
adds = []
for row1, row2, in zip(matrix1, matrix2):
    temp = [x + y for x, y in zip (row1, row2)]
    adds. append(temp)
adds

[[18, 12, 9], [17, 14, 16], [2, 9, 3]]

In [ ]:
adds = [ [x+y for x, y in zip(row1, row2)] 
        for row1, row2, in zip(matrix1, matrix2) ]
adds

[[18, 12, 9], [17, 14, 16], [2, 9, 3]]