<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py09_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 집합(set)

* 중복된 데이터의 저장을 허용하지 않음.
* 데이터가 저장되는 순서가 중요하지 않음. (인덱스를 사용하지 않음)

In [ ]:
s1 = {1,2,2,3,3,3}
s1

{1, 2, 3}

In [ ]:
type(s1)

set

In [ ]:
s2 = {3,1,2}
s2

{1, 2, 3}

In [ ]:
# s1[0] # set 객체는 인덱스를 사용할 수 없음!!
for x in s2:
    print(x)

1
2
3

# set의 기능(메소드)

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5}

In [ ]:
# 합집합 (union)
s1.union(s2)

{1, 2, 3, 4, 5}

In [ ]:
s1 | s2 # > |:합집합 연산자

{1, 2, 3, 4, 5}

In [ ]:
# 교집합 (intersection)
s1.intersection(s2)

{3, 4}

In [ ]:
s1 & s2 # > &: 교집합 연산자

{3, 4}

In [ ]:
# 차집합(difference)
s1.difference(s2)

{1, 2}

In [ ]:
s1 - s2 #> -: 차집합

{1, 2}

```
s1 | s2  =  s2 | s1
s1 & s2  =  s2 & s1
s1 - s2  !=  s2 - s1
```

In [ ]:
# set(arg): set 객체를 생성해서 리턴.
numbers = [1,2,3,1,2,1,2,3,4]   #> 9개의 아이템을 갖는 리스트

#numbers 에서 중복되지 않는 값들
number_set = set(numbers)
print(number_set)

#numbers에서 중복되지 않는 값들의 개수
print(len(number_set))

{1, 2, 3, 4}
4

In [ ]:
print(s1)

# set에 원소 추가. 이미 존재하는 원소이면 중복 저장 불가 
s1.add(100)
print(s1)

s1.add(1)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 100, 4}
{1, 2, 3, 100, 4}

In [ ]:
s1.remove(100)
print(s1)

{1, 2, 3, 4}