<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 (function)

* **함수(function)**: 기능을 수행하는 코드 블록.
* **인수(argument)**: 함수를 호출할 때, 함수에게 전달하는 값(들).
* **매개변수(parameter)**: argument를 저장하기 위해 함수를 정의할 때 선언하는 (지역)변수
* **반환값(return value)**: 함수가 기능수행의 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

In [ ]:
result = len([1,2,3,4,5])
# function = len
# argument: [1,2,3,4,5]
# 함수 호출(call, invoke): len([1,2,3,4,5])
# return value: 5

In [ ]:
result

5

# 함수 정의 (선언) 방법


```
def function_name([param1, ...]):
    ["""문서화 주석(documentation comment): 함수에 대한 설명"""] -> 생략가능해서 []로 작성
    함수 기능 작성 (코드)
    [return 반환 값] -> 생략 가능
```

In [ ]:
def subtract(x, y):
    """숫자 2개(x, y)를 전달 받아서, x - y를 반환하는 함수."""
    return x - y

In [ ]:
result = subtract(1,2)
result

-1

파이썬은 2개 이상의 값을 반환하는 함수를 정의할 수 있음.

In [ ]:
def plus_and_minus(x,y):
    """ 두 개의 숫자 x,y를 전달 받아 x+y와 x-y를 반환하는 함수
    """
    return x+y, x-y

In [ ]:
result = plus_and_minus(2,3)
result  #> tuple

(5, -1)

In [ ]:
# tuple decomposition(분해): x,y = (3, -1)
plus, minus = plus_and_minus(1,2)
print(plus)
print(minus)

3
-1

값을 반환하지 않는 함수

In [ ]:
def repeat_messages(message, n):
    """ 문자열 message와 양의 정수 n을 전달받아서,
    전달 받은 문자열을 n번 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)
    
    return None # 반환 값이 없다는 것을 명시적으로 작성.
    # 반환값이 없는 경우 return None 문장을 보통 생략함.

In [ ]:
result = repeat_messages('안녕하세요', 3)
result

안녕하세요
안녕하세요
안녕하세요

In [ ]:
print(result)   #> None: 값이 없음

None

# 함수 정의/호출 연습

In [ ]:
import random   
import math     # 수학 함수 이용 위해

# Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환.

In [ ]:
def make_list(start, end, n):    
    list = [random.randrange(start,end) for _ in range(n)]
    return list     # Ctrl + / = 선택한 줄 주석처리
    # array = []

In [ ]:
listResult = make_list(1,10,5)
listResult

[4, 4, 1, 9, 8]

# Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 합을 반환

In [ ]:
def calc_sum(listResult):   
    # 파라미터를 numbers로 해도 된다.
    # 그럴 경우 함수 내 동일한 파라미터도 numbers  
    return sum(listResult) 
    # total = 0
    # for x in listResult:
    #     total += x
    # return total

In [ ]:
total = calc_sum(listResult)
total

26

# Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 평균을 반환

In [ ]:
def calc_mean(listResult):
    return sum(listResult) / len(listResult)
    # return calc_sum(listResult) / len(listResult)

In [ ]:
mean = calc_mean(listResult)
mean

5.2

# Ex 4.
* 함수 이름: calc_variance
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환

In [ ]:
def calc_variance(listResult):    
    dev = [x - calc_mean(listResult) for x in listResult]    
    dev_square = [x ** 2 for x in dev]
    return sum(dev_square) / len(listResult) 

    # mean = calc_mean(listResult)  # 평균
    # squares = [(x - mean) ** 2 for x in listResult]   # 편차 제곱
    # var = calc_sum(squares) / (len(listResult)-1) or len(listResult)  # 통계방식에 따라 달라짐
    # return var

In [ ]:
varResult = calc_variance(listResult)
varResult

8.559999999999999

# Ex 5.
* 함수 이름: calc_stddev
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 표준편차를 반환.

In [ ]:
def calc_stddev(listResult):
# def calc_stddev(numbers):
    return calc_variance(listResult) ** (1/2)
    # return math.sqrt(calc_variance(numbers))

In [ ]:
stddev = calc_stddev(listResult)
stddev

2.9257477676655586

# Ex 6.
* 함수 이름: find_max_and_min
* 기능: 숫자들을 저장하고 있는 리스트에서 최대값과 최소값을 반환.

In [ ]:
# del max, min
def find_max_and_min(numbers):      
# def 함수이름 (numbers):
    return max(numbers), min(numbers)
    # max(numbers), min(numbers)

    # max_num = numbers[0]
    # min_num = numbers[0]
    # for x in numbers:
    #     if x > max_num:
    #         max_num = x
    #     if x < min_num:
    #         min_num = x
    # return max_num, min_num

In [ ]:
mx, mn = find_max_and_min(listResult)
print(mx)
print(mn)
# result = find_max_and_min(listResult)
# result

9
1

# Default argument (기본 인수)

* 함수를 정의할 때 파라미터 (parameter)에 설정된 기본 값.
* 함수를 호출할 때 default argument를 갖는 파라미터에 값을 전달하지 않으면, default argument가 함수 내부에서 사용됨.
* 함수를 호출할 때 default argument를 갖는 파라미터에 값을 전달하면, default argument는 무시되고 전달된 값이 함수 내부에서 사용됨.
* **(주의)** 함수를 정의할 때 default parameter들은 반드시 default 값을 갖지 않는 파라미터들 뒤에 선언해야 함.

In [22]:
def repeat_messages(message, n=1):
# (n=1, message) 와 같이 입력하면 에러 발생! (상기된 주의사항 참조)
    for _ in range(n):
        print(message)

In [25]:
repeat_messages('안녕하세요')

안녕하세요

# argument 전달 방법:

함수를 호출할 때 함수에 값(argument)을 전달하는 방법:
* **positional argument**: 함수를 정의할 때 선언 된 파라미터 순서대로 값을 전달하는 방식.
* **keyword argument**: `parameter_name = value` 와 같은 형식으로 값을 전달하는 방식.
    * keyword argument 방식으로 값을 전달할 때는 함수 정의의 파라미터 순서를 지키지 않아도 됨. 
* **(주의)** 함수를 호출할 때 positional 방식과 keyword 방식을 혼용하는 경우, 반드시 positional argument가 먼저, keyword argument가 나중에 와야 함!

In [ ]:
print(end=',', 'a') # => end= 는 keyword argument, 'a'는 positional argument
                    # 그러나 positional이 뒤에 있어서 오류 발생.
print('a', end=',') # 오류 없음
print('b')

In [27]:
def minus(x, y):
    return x - y

In [28]:
# positional argument 방식의 함수 호출
minus(1, 2)

-1

In [29]:
# keyword argument 방식의 함수 호출
minus(x = 1, y = 2)

-1

In [30]:
# keyword argument 에서는 순서 지키지 않아도 됨.(어떤 파라미터인지 명시되어 있기 때문에 )
# 그러나 불필요 (괜히 혼란 야기)
minus(y=1, x=2)

1

In [31]:
# positional 을 먼저, keyword를 나중에
minus(1, y=2)
# minus(x=1, 2) => 이건 불가

-1

# 가변길이 인수 (variable-length arguments)

In [ ]:
print('hello')  # argument 1개

In [ ]:
print('hello', 'python')    # argument 2개

In [32]:
max([1,2,3])    # argument 1개

3

In [33]:
max(1,2,3,10,5,7)   # argument 6개

10

가변길이 인수

* 함수를 호출할 때 전달하는 값(argument)의 개수가 임의로 변할 수 있는 것.
    * argument 개수의 제한이 없다.
    * argument를 전달하지 않아도 됨.
* 함수를 정의할 때, 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 전달받는 파라미터가 됨.
* 함수 내부에서 가변길이 인수는 tuple로 취급.
    * 가변길이 인수는 인덱스를 사용할 수 있음.
    * 가변길이 인수는 for-in 구문에서 사용할 수 있음.

* **주의**
    * 가변길이 인수는 keyword argument 방식으로 전달할 수 없음.
    * 함수를 선언할 때 가변길이 인수를 갖는 파라미터는 오직 **하나** 만 선언할 수 있음.

In [39]:
def add_all(*values):
    total = 0
    for x in values:
        total += x
    return total

In [40]:
add_all(1)

1

In [41]:
add_all(1,2,3)

6

In [42]:
add_all()

0

In [44]:
def test1(a, *b):
    print('a = ', a)
    print('b = ', b)

In [45]:
test1(1,2)

a =  1
b =  (2,)

In [46]:
test1(1,2,3)

a =  1
b =  (2, 3)

In [48]:
# test1(a=1, b=2) # 가변길이 인수는 keyword 방식으로 전달 안 됨!

test1() 함수는 positional argumen 방식으로만 값을 전달할 수 있는 함수.

In [49]:
def test2(*a, b):
    print('a = ', a)
    print('b = ', b)

In [50]:
test2(1, b=3)

a =  (1,)
b =  3

In [51]:
test2(1,2, b=4)

a =  (1, 2)
b =  4

In [53]:
# test2(1)  # test2()에서 파라미터 b는 기본 값이 없기에 keyword로만 전달 가능
# test2(1,2,3) # 위와 마찬가지의 오류

In [54]:
def test3(*a, b=0):
    print('a = ', a)
    print('b = ', b)

In [55]:
test3(1)

a =  (1,)
b =  0

In [56]:
test3(1,2,3)

a =  (1, 2, 3)
b =  0

In [57]:
test3(1,2,3,)

a =  (1, 2, 3)
b =  0

In [58]:
test3(1,2,3,b=100)

a =  (1, 2, 3)
b =  100

In [60]:
def calculate(*values, op):
    """
    values: 임의의 개수의 숫자들
    op: 문자열. ('+', '*')
    op가 '+'인 경우 모든 값들의 합을 리턴. values에 전달된 값이 없으면 0을 리턴
    op가 '*'인 경우 모든 값들의 곱을 리턴. values에 전달된 값이 없으면 1을 리턴
    """
    if op == '+':
        result = 0
        for x in values:
            result += x
    elif op == '*':
        result = 1
        for x in values:
            result *= x
    else:
        result = None

    return result

In [65]:
calculate(1,2,3,4, op='*')

24

In [66]:
calculate(1,2,3,op='+')

6

In [68]:
calculate(op='*')

1

# 가변길이 키워드 인수 (variable-length keyword argument)

* variable-length + keyword
    * variable-length argument: 함수 호출 시 임의의 개수의 argument를 전달할 수 있음.
    * keyword argument: 함수를 호출할 때 반드시 `param_name=value` 형식으로 값을 전달.
* 함수를 정의할 때 파라미터 이름 앞에 `**`를 사용.
* 함수를 호출할 때 임의의 개수의 keyword argument를 전달하면 됨.
    * 파라미터 이름 제한 없음.
    * 값의 개수 제한 없음.
* 함수 내부에서 가변길이 키워드 인수는 dict로 취급 됨.
    * 함수 호출 시 사용한 파라미터 이름이 dict의 키(key)가 됨.
    * 함수 호출 시 파라미터에 전달한 값(argument)이 dict의 값(value)가 됨.
* 가변길이 키워드 인수는 함수 정의에서 오직 한 번만 가능.

In [69]:
def test4(**kwargs):
    print(kwargs)

In [70]:
test4()

{}

In [71]:
test4(a=1)

{'a': 1}

In [72]:
test4(a=1, b='hello')

{'a': 1, 'b': 'hello'}

In [73]:
def test5(*args, **kwargs):
    print('args = ', args)      # *args -> tuple
    print('kwargs = ', kwargs)  # **kwargs -> dict

In [74]:
test5(1,2,3, a=5, b=6)

args =  (1, 2, 3)
kwargs =  {'a': 5, 'b': 6}

In [75]:
test5(1,2,'a', 'b')

args =  (1, 2, 'a', 'b')
kwargs =  {}

In [76]:
def make_employee(emp_no, emp_name, **kwargs):
    emp = {'emp_no': emp_no, 'emp_name': emp_name}
    for k, v in kwargs.items():
        # kwargs의 키(파라미터 이름)가 email 또는 phone인 경우에만 dict에 추가.
        # 그 이외의 파라미터들은 모두 무시.
        if k == 'email' or k == 'phone':
            emp[k] = v
    return emp

In [82]:
make_employee(101, 'Scott', phone='010-1111-1111', email='123@123')

{'email': '123@123',
 'emp_name': 'Scott',
 'emp_no': 101,
 'phone': '010-1111-1111'}

# 재귀 함수 (recursive function)

함수 내부에서 자기 자신을 다시 호출하는 함수

In [83]:
def factorial(n):
    result = None
    if n == 0:
        result = 1
    elif n > 0 :
        result = factorial(n-1) * n
    return result

In [85]:
for n in range(6):
    print(factorial(n))

1
1
2
6
24
120