<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 (function)

* **함수(function)**: 기능을 수행하는 코드 블록.
* **인수(argument)**: 함수를 호출할 때, 함수에게 전달하는 값(들).
* **매개변수(parameter)**: argument를 저장하기 위해 함수를 정의할 때 선언하는 (지역)변수
* **반환값(return value)**: 함수가 기능수행의 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

In [ ]:
result = len([1,2,3,4,5])
# function = len
# argument: [1,2,3,4,5]
# 함수 호출(call, invoke): len([1,2,3,4,5])
# return value: 5

In [ ]:
result

5

# 함수 정의 (선언) 방법


```
def function_name([param1, ...]):
    ["""문서화 주석(documentation comment): 함수에 대한 설명"""] -> 생략가능해서 []로 작성
    함수 기능 작성 (코드)
    [return 반환 값] -> 생략 가능
```

In [ ]:
def subtract(x, y):
    """숫자 2개(x, y)를 전달 받아서, x - y를 반환하는 함수."""
    return x - y

In [ ]:
result = subtract(1,2)
result

-1

파이썬은 2개 이상의 값을 반환하는 함수를 정의할 수 있음.

In [ ]:
def plus_and_minus(x,y):
    """ 두 개의 숫자 x,y를 전달 받아 x+y와 x-y를 반환하는 함수
    """
    return x+y, x-y

In [ ]:
result = plus_and_minus(2,3)
result  #> tuple

(5, -1)

In [ ]:
# tuple decomposition(분해): x,y = (3, -1)
plus, minus = plus_and_minus(1,2)
print(plus)
print(minus)

3
-1

값을 반환하지 않는 함수

In [ ]:
def repeat_messages(message, n):
    """ 문자열 message와 양의 정수 n을 전달받아서,
    전달 받은 문자열을 n번 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)
    
    return None # 반환 값이 없다는 것을 명시적으로 작성.
    # 반환값이 없는 경우 return None 문장을 보통 생략함.

In [ ]:
result = repeat_messages('안녕하세요', 3)
result

안녕하세요
안녕하세요
안녕하세요

In [ ]:
print(result)   #> None: 값이 없음

None

# 함수 정의/호출 연습

In [56]:
import random   
import math     # 수학 함수 이용 위해

# Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환.

In [57]:
def make_list(start, end, n):    
    list = [random.randrange(start,end) for _ in range(n)]
    return list

In [58]:
listResult = make_list(1,10,5)
listResult

[7, 3, 1, 4, 5]

# Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 합을 반환

In [59]:
def calc_sum(listResult):    
    return sum(listResult)

In [60]:
result = calc_sum(listResult)
result

20

# Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 평균을 반환

In [61]:
def calc_mean(listResult):
    return sum(listResult) / len(listResult)

In [62]:
result = calc_mean(listResult)
result

4.0

# Ex 4.
* 함수 이름: calc_variance
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환

In [63]:
def calc_variance(listResult):    
    dev = [x - calc_mean(listResult) for x in listResult]    
    dev_square = [x ** 2 for x in dev]
    return sum(dev_square) / len(listResult)

In [90]:
result = calc_variance(listResult)
result

4.0

# Ex 5.
* 함수 이름: calc_stddev
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 표준편차를 반환.

In [65]:
def calc_stddev(listResult):
    return calc_variance(listResult) ** (1/2)

In [66]:
result = calc_stddev(listResult)
result

2.0

# Ex 6.
* 함수 이름: find_max_and_min
* 기능: 숫자들을 저장하고 있는 리스트에서 최대값과 최소값을 반환.

In [91]:
del max, min
def find_max_and_min(listResult):      
    return max(listResult), min(listResult)

In [93]:
result = find_max_and_min(listResult)
result

(7, 1)