<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 (function)

* **함수(function)**: 기능을 수행하는 코드 블록.
* **인수(argument)**: 함수를 호출할 때, 함수에게 전달하는 값(들).
* **매개변수(parameter)**: argument를 저장하기 위해 함수를 정의할 때 선언하는 (지역)변수
* **반환값(return value)**: 함수가 기능수행의 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

In [ ]:
result = len([1,2,3,4,5])
# function = len
# argument: [1,2,3,4,5]
# 함수 호출(call, invoke): len([1,2,3,4,5])
# return value: 5

In [ ]:
result

5

# 함수 정의 (선언) 방법


```
def function_name([param1, ...]):
    ["""문서화 주석(documentation comment): 함수에 대한 설명"""] -> 생략가능해서 []로 작성
    함수 기능 작성 (코드)
    [return 반환 값] -> 생략 가능
```

In [ ]:
def subtract(x, y):
    """숫자 2개(x, y)를 전달 받아서, x - y를 반환하는 함수."""
    return x - y

In [ ]:
result = subtract(1,2)
result

-1

파이썬은 2개 이상의 값을 반환하는 함수를 정의할 수 있음.

In [ ]:
def plus_and_minus(x,y):
    """ 두 개의 숫자 x,y를 전달 받아 x+y와 x-y를 반환하는 함수
    """
    return x+y, x-y

In [ ]:
result = plus_and_minus(2,3)
result  #> tuple

(5, -1)

In [ ]:
# tuple decomposition(분해): x,y = (3, -1)
plus, minus = plus_and_minus(1,2)
print(plus)
print(minus)

3
-1

값을 반환하지 않는 함수

In [ ]:
def repeat_messages(message, n):
    """ 문자열 message와 양의 정수 n을 전달받아서,
    전달 받은 문자열을 n번 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)
    
    return None # 반환 값이 없다는 것을 명시적으로 작성.
    # 반환값이 없는 경우 return None 문장을 보통 생략함.

In [ ]:
result = repeat_messages('안녕하세요', 3)
result

안녕하세요
안녕하세요
안녕하세요

In [ ]:
print(result)   #> None: 값이 없음

None

# 함수 정의/호출 연습

In [2]:
import random   
import math     # 수학 함수 이용 위해

# Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환.

In [3]:
def make_list(start, end, n):    
    list = [random.randrange(start,end) for _ in range(n)]
    return list     # Ctrl + / = 선택한 줄 주석처리
    # array = []

In [4]:
listResult = make_list(1,10,5)
listResult

[4, 4, 1, 9, 8]

# Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 합을 반환

In [5]:
def calc_sum(listResult):   
    # 파라미터를 numbers로 해도 된다.
    # 그럴 경우 함수 내 동일한 파라미터도 numbers  
    return sum(listResult) 
    # total = 0
    # for x in listResult:
    #     total += x
    # return total

In [6]:
total = calc_sum(listResult)
total

26

# Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 평균을 반환

In [7]:
def calc_mean(listResult):
    return sum(listResult) / len(listResult)
    # return calc_sum(listResult) / len(listResult)

In [9]:
mean = calc_mean(listResult)
mean

5.2

# Ex 4.
* 함수 이름: calc_variance
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환

In [17]:
def calc_variance(listResult):    
    dev = [x - calc_mean(listResult) for x in listResult]    
    dev_square = [x ** 2 for x in dev]
    return sum(dev_square) / len(listResult) 

    # mean = calc_mean(listResult)  # 평균
    # squares = [(x - mean) ** 2 for x in listResult]   # 편차 제곱
    # var = calc_sum(squares) / (len(listResult)-1) or len(listResult)  # 통계방식에 따라 달라짐
    # return var

In [11]:
varResult = calc_variance(listResult)
varResult

8.559999999999999

# Ex 5.
* 함수 이름: calc_stddev
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 표준편차를 반환.

In [12]:
def calc_stddev(listResult):
# def calc_stddev(numbers):
    return calc_variance(listResult) ** (1/2)
    # return math.sqrt(calc_variance(numbers))

In [13]:
stddev = calc_stddev(listResult)
stddev

2.9257477676655586

# Ex 6.
* 함수 이름: find_max_and_min
* 기능: 숫자들을 저장하고 있는 리스트에서 최대값과 최소값을 반환.

In [18]:
# del max, min
def find_max_and_min(numbers):      
# def 함수이름 (numbers):
    return max(numbers), min(numbers)
    # max(numbers), min(numbers)

    # max_num = numbers[0]
    # min_num = numbers[0]
    # for x in numbers:
    #     if x > max_num:
    #         max_num = x
    #     if x < min_num:
    #         min_num = x
    # return max_num, min_num

In [20]:
mx, mn = find_max_and_min(listResult)
print(mx)
print(mn)
# result = find_max_and_min(listResult)
# result

9
1