<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py11_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수는 객체이다.
* 함수는 변수에 할당할 수 있음.
* 함수는 argument로 다른 함수의 전달할 수 있음.
* 함수의 반환 값이 함수가 될 수 있음. 함수는 함수를 반환할 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

In [29]:
x = 1   # 객체는 변수에 할당(저장)할 수 있음.
print(x)    # 객체는 함수의 argument로 전달 할 수 있음.

1

In [30]:
# 함수 정의
def twice(x): 
    return 2 * x

In [31]:
print(twice)    # twice는 함수 객체 (function object)

<function twice at 0x7f58bf6ab170>

In [32]:
result = twice(5)    # 함수 호출, 호출 결과(리턴 값)을 변수 result에 저장
result

10

In [33]:
double = twice  # 함수는 변수에 할당할 수 있음.
print(double)

<function twice at 0x7f58bf6ab170>

In [34]:
double(5)   # double 함수 호출 결과는 twice와 동일

10

argument로 함수를 전달받는 함수

In [35]:
def calculator(x, y, fn):
    """
    x, y: 숫자(int, float)
    fn: 숫자 두 개를 argument로 전달받고, 숫자를 리턴하는 함수
    """
    result = fn(x,y)
    return result

In [36]:
def plus (x,y):
    return x + y

In [37]:
calculator(1,2,plus)

3

In [38]:
def minus(x, y):
    return x - y

In [39]:
calculator (1,2, minus)

-1

함수 내부에서 함수를 정의(선언)하고 함수를 리턴

In [40]:
def make_increment(n):
    # 내부 함수 (inner function), 지역 함수 (local function): 함수 내부에서 정의하는 함수
    def add_n(x):
        return x + n 
    
    # make_increment 함수는 add_n 함수(객체)를 리턴.
    return add_n

In [41]:
increase_by_2 = make_increment(2)
print(increase_by_2)

<function make_increment.<locals>.add_n at 0x7f58bf6a7e60>

In [42]:
increase_by_2(10)

12

In [43]:
increase_by_10 = make_increment(10)
print(increase_by_10)

<function make_increment.<locals>.add_n at 0x7f58bf6a5830>

In [44]:
increase_by_10(5)

15

# 람다 표현식 (Lambda expression)

```
lambda param1, param2, ... : expression (리턴 값)
```

* 이름이 없는 함수 (익명 함수, anonymous function)
* 함수 이름 없이, 함수의 파라미터 선언과 반환 값 또는 반환 식으로 함수를 정의하는 방법.

In [46]:
plus_one = lambda x: x + 1 # x를 argument로 전달받아서 x + 1을 리터하는 함수

In [48]:
plus_one(1) # 함수 호출

2

In [49]:
plus = lambda x, y : x + y #argument x, y를 전달받아서 x+y 리턴하는 함수

In [50]:
plus(1,2)

3

lambda 표현식은 함수의 argument로 전달하기 위해서 사용.

In [51]:
calculator(1,2, lambda x, y : x - y)

-1

In [52]:
calculator(2,3, lambda x, y : x * y)

6

In [55]:
# calculator 함수에 x가 y보다 큰 지 아닌 지를 리턴하는 lambda를 전달
calculator(6,6,lambda x, y : x > y)

False

In [61]:
# calculator 함수에 x,y 중 더 큰 수를 리턴하는 lambda 전달
calculator(4,5,lambda x,y : max(x, y))

# if-else 표현식: 값1 if 조건 else 값2
calculator(4,5, lambda x,y: x if x > y else y)

5

## lambda 표현식 응용

* filtering
    * 성별 컬럼에서 값이 'Male' 또는 'Female'인 데이터들만 선택
* mapping
    * 성별 컬럼의 값이 'Male'이면 1, 'Female'이면 0으로 매핑.

In [63]:
numbers = [1,-2,3,-4,-5,6,7,8]

In [70]:
# numbers의 원소들 중 양수들만 선택한 리스트.
# filter(True / False를 리턴하는 함수, 리스트)
result = filter(lambda x: x>0, numbers)
result  # 필터링이 끝난 객체

In [71]:
list(result)    # 필터링이 끝난 객체를 list타입으로 변환

[1, 3, 6, 7, 8]

In [74]:
result = filter(lambda x: x<0, numbers)
list(result)

[-2, -4, -5]

In [79]:
# numbers에서 홀수들만 필터링
result = filter(lambda x: x%2, numbers)
list(result)

[1, 3, -5, 7]

In [81]:
# numbers에서 짝수는 'even', 홀수는 'odd'로 매핑
result = map(lambda x: 'even' if x%2 == 0 else 'odd', numbers)
list(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [83]:
genders = ['Male', 'Female', 'Female', 'Male']

In [85]:
# genders에서 'Female'만 선택 (filter)
result = filter(lambda x : x=='Female', genders)
list(result)

['Female', 'Female']

In [86]:
# genders에서 male -> 1, female -> 0 매핑
result = map(lambda x: 1 if x == 'Male' else 0, genders)
list(result)

[1, 0, 0, 1]

filter 함수를 직접 구현

In [89]:
def my_filter(iterable, fn):
    """ 리스트 iterable의 원소를 함수 fn의 argument로 전달했을 때, 
    fn이 True를 리턴하는 원소들로 이루어진 리스트를 리턴.
    iterable: 리스트.
    fn: argument가 한 개 이고 리턴 타입은 bool인 함수 
    """
    # result = [] # 조건을 만족하는 원소들(필터링한 원소들)을 저장하는 빈 리스트
    # for x in iterable:  # 리스트의 원소들을 차례로 반복하면서
    #     if fn(x):   # 조건을 만족 시
    #         result.append(x)    # 결과 리스트에 추가
    # return result

    return [x for x in iterable if fn(x)]

In [90]:
numbers
# numbers에서 양수들만 필터링
my_filter(numbers, lambda x: x > 0)

[1, 3, 6, 7, 8]

In [91]:
languages = ['Java', 'HTML', 'CSS', 'JavaScript', 'Python']
# my_filter() 사용해서 글자수가 5글자 이상인 원소들만 필터링

In [94]:
my_filter(languages, lambda x: len(x) >= 5)

['JavaScript', 'Python']

In [98]:
def my_mapper(iterable, fn):
    """
    iterable의 원소를 차례로 함수 fn의 argument로 전달해서, 함수 fn의 리턴값들로 이루어진 리스트를 리턴.

    iterable: 리스트.
    fn: argument가 한 개 이고 값을 반환하는 함수
    """    
    result = []
    for x in iterable:
        result.append(fn(x))
    return result

In [99]:
my_mapper(languages, lambda x: 'long' if len(x) >= 5 else 'short')

['short', 'short', 'short', 'long', 'long']

In [97]:
def my_mapper2(iterable, fn):
    """
    iterable의 원소를 key로 하고
    iterable의 원소를 함수 fn의 argument로 사용했을 때의 리턴 값을 value로 하는 dict를 리턴.

    iterable: 리스트
    fn: argument가 한 개 이고 값을 반환하는 함수.
    """
    result = {}
    for x in iterable:
        result[x] = fn(x)
    return result

In [100]:
my_mapper2(languages, lambda x: 'easy' if x != 'Python' else 'hard')

{'CSS': 'easy',
 'HTML': 'easy',
 'Java': 'easy',
 'JavaScript': 'easy',
 'Python': 'hard'}