<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py12_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP (Object-Oriented Programming, 객체 지향 프로그래밍)의 배경

## list, dict 사용

In [1]:
students = [
            {'name': 'aa', 'korean': 90, 'english': 95, 'math': 80},
            {'name': 'bb', 'korean': 70, 'english': 80, 'math': 55},
            {'name': 'cc', 'korean': 80, 'english': 95, 'math': 90},
]

In [3]:
# 각 학생의 세 과목 총점과 평균
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f'이름: {s["name"]}, 총점: {total}, 평균:{mean}')

이름: aa, 총점: 265, 평균:88.33333333333333
이름: bb, 총점: 205, 평균:68.33333333333333
이름: cc, 총점: 265, 평균:88.33333333333333

## 함수형 프로그래밍 (Functional Programming)

In [4]:
def create_student(name, korean, english, math):
    student = {
        'name': name,
        'korean': korean,
        'english': english,
        'math': math,
    }
    return student

In [13]:
students = [
    create_student('a', 100, 95, 100),            
    create_student(name='b', korean = 90, english = 80, math = 100)
]
students

[{'english': 95, 'korean': 100, 'math': 100, 'name': 'a'},
 {'english': 80, 'korean': 90, 'math': 100, 'name': 'b'}]

In [10]:
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [11]:
def get_mean(student):
    return get_total(student) / 3

In [14]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {mean}')

이름: a, 총점: 295, 평균: 98.33333333333333
이름: b, 총점: 270, 평균: 90.0

## 객체 지향 프로그래밍 (OOP) -> 데이터와 기능을 묶음

* 객체 (object): 소프트웨어로 구현할 대상.
* 클래스 (class): 객체를 구현하기 위한 소스 코드
    * 속성 (attribute, property, 멤버변수): 객체가 갖는 데이터. 변수들에 저장되는 값.
    * 메소드 (method): 객체가 가져야하는 기능. 클래스 내부에서 정의하는 함수.

* 인스턴스 (instance): 클래스를 사용해서 메모리에 생성된 객체.
* 인스턴스 생성 (instantiate): 클래스의 객체를 메로리에 생성하는 것.
* 생성자 (constructor): 인스턴스를 생성하기 위해서 호출하는 함수. 클래스 이름과 동일한 함수.

In [24]:
# 클래스 정의 
class Student:
    # 생성자 함수: 생성자가 호출됐을 때 자동으로 호출되는 함수. 속성들을 선언하고 초기화.
    def __init__(self, name, korean, english, math):
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 메소드
    def get_total(self):
        return self.korean + self.english + self.math
    
    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'이름: {self.name}, 총점: {self.get_total()}, 평균: {self.get_mean()}')

In [25]:
stu1 = Student(name='홍길동', korean=100, english=80, math=70)

In [26]:
stu1

In [27]:
stu1.get_total()

250

In [28]:
stu1.get_mean()

83.33333333333333

In [29]:
stu1.print_info()

이름: 홍길동, 총점: 250, 평균: 83.33333333333333

In [21]:
dir(stu1)   # 객체가 가지고 있는 멤버들(속성과 메소드)의 리스트

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'english',
 'get_mean',
 'get_total',
 'korean',
 'math',
 'name',
 'print_info']

# Class 작성 연습

In [23]:
import math # 수학 관련 함수들 사용위해

In [64]:
class Point:
    """2차원 평면의 점의 좌표를 표현하는 클래스"""
    def __init__(self, x=0, y=0):
        # 들여쓰기 할 문장 하나라도 있어야한다.
        # self는 메소드를 호출한 객체
        self.x = x
        self.y = y
        

    def move(self, dx=0, dy=0):
        """좌표를 원래 위치에서 dx, dy만큼 이동"""
        #x = self.x + dx
        #y = self.y + dy
        self.x += dx 
        self.y += dy        

    def distance(self, other):
        """현재 위치와 다른 Point other 사이의 거리를 리턴"""        
        return math.sqrt((self.x - other.x)**2 + (self.y - other.y)**2)

In [102]:
p1 = Point() #생성자 호출 -> Point 클래스의 인스턴스 생성

In [71]:
print(p1)

<__main__.Point object at 0x7fa16d5daad0>

In [73]:
print(p1.x)
print(p1.y)

0
0

In [81]:
p2 = Point(x=-2, y=10)

In [83]:
print(p2.x)
print(p2.y)

-2
10

In [86]:
p3 = Point(1)
print(p3)
print(p3.x, p3.y)

<__main__.Point object at 0x7fa16d560350>
1 0

In [87]:
p4 = Point(y=1)
print(p4)
print(p4.x, p4.y)

<__main__.Point object at 0x7fa16d5da310>
0 1

In [96]:
p1.move(3,4)
# p1.move(dx=1)
# p1.move(dy=1)
# p1.move(1,1)

In [97]:
print(p1.x)
print(p1.y)

3
4

In [103]:
p1.distance(p2)

10.198039027185569

In [140]:
class Rectangle:
    """직사각형: 꼭지점의 x좌표, y좌표, 가로, 세로길이, 
    둘레, 넓이"""
    def __init__(self,x=0,y=0,width=0,height=0):
        self.x = x
        self.y = y
        self.width = width
        self.height = height

        # p1 = x,y
        # p2 = x, y+height
        # p3 = x+width, y+height
        # p4 = x, y+height

        # return p1, p2, p3,p4

    def perimeter(self):
        return (self.width + self.height)*2

    def area(self):
        return self.width * self.height

In [141]:
rect1 = Rectangle(1,2,6,4)
print(rect1)

<__main__.Rectangle object at 0x7fa16d5c3d90>

In [142]:
rect1.perimeter()

20

In [143]:
rect1.area()

24

In [146]:
rect2 = Rectangle(1,1,4,3)
rect2.perimeter()

14

In [147]:
rect2.area()

12

# magic method 

모든 클래스가 같은 이름으로 가지고 있는 메소드. 특별한 경우에 자동으로 호출되는 메소드.

* `__init__(self)`: 생성자를 호출하면 자동으로 호출되는 메소드.
* `__str__(self)`: `print()` 함수에서 자동으로 호출되는 메소드.
* `__repr__(self)`: 식(expression)을 자동으로 출력할 때 호출되는 메소드.
    * 클래스에서 `__str__`과 `__repr__` 메소드가 다르게 구현되어 있으면, print() 함수의 결과와 식을 출력하는 내용이 다름.
    * `print` 함수는 `__str__` 메소드가 구현되어 있으면 `__str__`를 호출하고, 없으면 `__repr__` 함수를 호출. 

* `__eq__(self, o)`: `==` 연산자가 사용됐을 때 자동으로 호출되는 메소드. 
* `__add__(self, o)`: `+` 연산자가 사용됐을 때 자동으로 호출되는 메소드. 
* `__mul__(self, o)`: `*` 연산자가 사용됐을 때 자동으로 호출되는 메소드.

In [149]:
x=1
x           # 식, 가장 마지막 줄일 때만 출력이 됨
print()     # 문장

print(x.__str__())
x.__repr__()

1

'1'

In [157]:
class Test:
    def __init__(self):
        print('Test 객체 생성됨')

    def __str__(self):
        return 'Test 클래스 객체'

    def __repr__(self):
        return 'Test 인스턴스'

In [158]:
test = Test()   # Test 클래스의 인스턴스 생성

Test 객체 생성됨

In [159]:
print(test) # 문장(statement): print 함수는 객체의 __str__() 메소드가 리턴하는 문자열을 출력
test    # 식(expression): 식이 자동으로 출력될 때는 객체의 __repr__() 메소드가 리턴하는 문자열을 출력

Test 클래스 객체

Test 인스턴스

In [164]:
numbers1 = [1,2,3]
numbers2 = [1,2,3]
numbers1 == numbers2    # ==연산자가 __eq__() 메소드 호출: numbers1.__eq__(numbers2)

True

In [162]:
id(numbers1)    # 리스트 numbers1의 주소값

140331301116736

In [163]:
id(numbers2)    # 리스트 numbers2의 주소값

140331301190944

In [171]:
class Test2:
    def __init__(self, x):
        self.x = x
    
    def __eq__(self, other):
        if isinstance (other, Test2):
            if self.x == other.x:
                return True
        return False

In [172]:
t1 = Test2(1)
t2 = Test2(1)

In [173]:
print(id(t1))
print(id(t2))

140331301182032
140331301179856

In [174]:
t1 == t2

True

In [175]:
s1 = ''
s2 = ''
s1 == s2

True

In [176]:
numbers1 = [1,2]
numbers2 = [3,4]
numbers1 + numbers2 # numbrs1.__add__(numbers2)

[1, 2, 3, 4]

In [177]:
numbers1 * 3    # numbers1.__mul__(3)

[1, 2, 1, 2, 1, 2]

# class 작성 연습

## Ex 1. Score 클래스

* 속성(attribute):
    * 국어, 영어, 수학 점수
    * 모든 과목의 기본값은 0
* 기능(method):
    * `__repr__`: Score{국어=100, 영어=100, 수학=100} 문자열 포맷을 리턴
    * `calc_sum`: 세 과목 총점 리턴
    * `calc_mean`: 세 과목 평균 리턴

# Ex 2. Student 클래스
* 속성(attribute):
    * 이름, Score객체
* 기능(method):
    * `__repr__`: Student{이름: xxx, 점수: Score{국어=100, 영어=100, 수학=100}} 문자열 포맷 리턴

In [184]:
class Score:
    def __init__(self, kor=0, eng=0, mat=0):
        self.kor = kor
        self.eng = eng
        self.mat = mat
    
    def __repr__(self):
        return f'Score{{국어={self.kor}, 영어={self.eng}, 수학={self.mat}}}'
    
    def calc_sum(self):
        return self.kor + self.eng + self.mat

    def calc_mean(self):
        return (self.kor + self.eng + self.mat) / 3

In [186]:
s1 = Score(90,80,100)

In [189]:
print(s1)

Score{국어=90, 영어=80, 수학=100}

In [187]:
s1.calc_sum()

270

In [188]:
s1.calc_mean()

90.0

In [191]:
class Student:
    # def __init__(self, name, score):
    #     self.name = name
    #     self.score = score
    def __init__(self, name, kor=0, eng=0, mat=0):
        self.name=name
        self.score = Score(kor, eng,mat)

    def __repr__(self):
        return f'Student{{이름: {self.name}, 점수: {self.score}}}'

In [192]:
stu1 = Student('홍길동')

In [193]:
print(stu1)

Student{이름: 홍길동, 점수: Score{국어=0, 영어=0, 수학=0}}

In [195]:
stu2 = Student('김길동', kor=100, eng=90, mat=50)
stu2

Student{이름: 김길동, 점수: Score{국어=100, 영어=90, 수학=50}}

In [198]:
# stu2 객체의 점수 합계와 평균
print('총점 = ', stu2.score.calc_sum())
print('평균 = ', stu2.score.calc_mean())

총점 =  240
평균 =  80.0

In [199]:
class Student2:
    def __init__(self, name, score):
        self.name = name
        self.score = score

    def __repr__(self):
        return f'Student{{이름: {self.name}, 점수:{self.score}}}'

In [205]:
stu3 = Student2('오쌤', Score(90,80,100))
print(stu3)

Student{이름: 오쌤, 점수:Score{국어=90, 영어=80, 수학=100}}

In [206]:
stu4 = Student2('def', Score(100,90,80))
stu4

Student{이름: def, 점수:Score{국어=100, 영어=90, 수학=80}}

In [208]:
print(stu4.score.calc_mean())
print(stu4.score.calc_sum())

90.0
270

Student{이름: abbbc, 점수:(90, 80, 70, 60)}