<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py15_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예외(오류) 처리

* 오류가 발생한 위치와 원인을 파악해서 오류가 발생하지 않도록 코드 수정.
* 오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고 계속 실행될 수 있도록 처리. --> try 구문
    * Java는 try구문을 사용하지 않으면 compile 에러가 발생하는 경우가 있지만
    * Python에서는 try구문이 필수는 아님.

```
try:
    (1) 실행할 코드(들)
except [에러 이름[as 별명]]:
    (2) 에러가 발생했을 때 실행할 코드(들)
[else: 
    (3) try 블록 내부의 모든 코드가 에러없이 정상적으로 실행된 경우 실행할 문장(들)]
[finally:
    (4) try 블록을 실행 중 에러 발생여부와 상관없이 항상 실행할 문장(들)]
```

* 에러가 발생하지 않은 경우: (1)->(3)->(4)
* 에러가 발생한 경우: (1)->(2)[->(4)]

In [3]:
try:
    x = float(input('숫자 입력>>'))
except:
    print('숫자로 입력하세요')

숫자 입력>>123

In [4]:
try:
    x = float(input('숫자 입력>>>'))    # (1)
except:
    print('숫자로 입력하세요...')       # (2)
else:
    print('x = ', x)                    # (3)
finally:
    print('=== end ===')                # (4)

숫자 입력>>>dfdf
숫자로 입력하세요...
=== end ===

In [7]:
try:
    x = float(input('x 입력>>>')) 
    y = float(input('y 입력>>>'))
    print(f'{x} + {y} = {x + y}')
    print(f'{x} - {y} = {x - y}')
    print(f'{x} * {y} = {x * y}')
    print(f'{x} / {y} = {x / y}')
except ValueError:
    print('숫자로 입력하세요...')
except ZeroDivisionError:
    print('0으로 나눌 수는 없습니다.')

x 입력>>>3
y 입력>>>0
3.0 + 0.0 = 3.0
3.0 - 0.0 = 3.0
3.0 * 0.0 = 0.0
0으로 나눌 수는 없습니다.

In [ ]:
# try-except 연습

## Ex 1.
정수 한 개를 입력받고 입력받은 정수를 출력

In [2]:
while True:
    try:
        x = int(input('정수 입력>>>'))
        print('입력값 = ', x)
        break   # 무한루프 종료
    except:
        print('정수가 아닙니다.')
    # else:
    #     break

정수 입력>>>ㅇ
정수가 아닙니다.
정수 입력>>>ㅁ
정수가 아닙니다.
정수 입력>>>2
입력값 =  2

## Ex 2.
word counting

In [4]:
words = ['one', 'two', 'three', 'two', 'three', 'three', 'four']
#> 리스트 words의 문자열을 key, 문자열의 등장 횟수를 value로 하는 dict를 만드시오
#> {'one':1, 'two':2, 'three':3, 'four':1}

In [5]:
dict1 = {}
for x in words:
    try:
        dict1[x] += 1   # dict1[x] = dict1[x] + 1
    except:
        dict1[x] = 1
    print(dict1)

{'one': 1}
{'one': 1, 'two': 1}
{'one': 1, 'two': 1, 'three': 1}
{'one': 1, 'two': 2, 'three': 1}
{'one': 1, 'two': 2, 'three': 2}
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3, 'four': 1}