<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py17_csv_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Colab 연결
* Google Drive 마운트(연결).
* csv_exam.csv 파일을 Google Drive의 lab_python 폴더에 업로드

In [ ]:
# 업로드한 CSV파일 경로
file_path = '/content/drive/MyDrive/lab_python/csv_exam.csv'

1. csv_exam.csv 파일을 읽기모드로 오픈
1. 파일의 첫 번째 줄은 읽고 아무 동작없이 건너뛰기.
1. 파일의 두 번째 줄 부터 마지막 줄까지 반복
    * 각 줄에서 읽은 내용을 쉼표(,)로 구분한 리스트들을 저장하는 리스트를 만듦.
    ```
    [ ['1','1','50','98','50'], ['2','1','60','97','60'], ... ]
    ```
1. 2차원 리스트들의 모든 값들을 숫자로 변환
    ```
    [ [1,1,50,98,50],[2,1,60,97,60],...]
    ```
1. 2차원 리스트에서 수학 점수들로만 이루어진 1차워 리스트를 만듦.
    ```
    [50,60,45, ...]
    ```
1. 수학 점수의 평균, 최대값, 최소값을 찾음.
1. 1반 학생들의 수학 점수의 총점, 평균, 최대값, 최소값을 찾음.

In [ ]:
# 읽기모드로 오픈
# csvfile = open(file_path, mode='rt')

# 파일 내 데이터 출력 (경로확인)
datalist = []
with open(file_path) as csvfile:
    for data in csvfile: 
        row = [data.strip()]
        datalist.append(row)

del datalist[0]
datalist

[['1,1,50,98,50'],
 ['2,1,60,97,60'],
 ['3,1,45,86,78'],
 ['4,1,30,98,58'],
 ['5,2,25,80,65'],
 ['6,2,50,89,98'],
 ['7,2,80,90,45'],
 ['8,2,90,78,25'],
 ['9,3,20,98,15'],
 ['10,3,50,98,45'],
 ['11,3,65,65,65'],
 ['12,3,45,85,32'],
 ['13,4,46,98,65'],
 ['14,4,48,87,12'],
 ['15,4,75,56,78'],
 ['16,4,58,98,65'],
 ['17,5,65,68,98'],
 ['18,5,80,78,90'],
 ['19,5,89,68,87'],
 ['20,5,78,83,58']]

In [ ]:
for data in datalist:
    int(data)
print(datalist)

TypeError: ignored

선생님 코드:

In [ ]:
exam = []
with open(file_path, mode='rt') as f:
    f.readline()    # 파일의 첫 줄을 읽음
    for line in f:  # 파일의 두 번째 줄 부터 파일 한 줄씩 읽으며
        # (1) strip: 읽은 라인에서 앞위 공백 제거
        # (2) split: 쉼표를 기준으로 자른 문자열들의 리스트 생성 [...]
        # (3) 1차원 리스트를 exam에 append
        exam.append(line.strip().split(sep=','))
exam    # 2차원 리스트

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]

In [ ]:
for row in exam:
    for i, x in enumerate(row):
        row[i] = int(x)
exam

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [ ]:
math = []
for row in exam:
    math.append(row[2]) # 1차원 리스트의 인덱스 2번위치의 값이 수학점수
print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [ ]:
sum(math) / len(math) # 평균

57.45

In [ ]:
max(math) # 최대값

90

In [ ]:
min(math) # 최소값

20

In [ ]:
math_class1 = math[:4]  # 1반 성적
math_class1

[50, 60, 45, 30]

In [ ]:
sum(math_class1) / len(math_class1)

46.25

In [ ]:
print(max(math_class1))
min(math_class1)

60

30

In [ ]:
# list comprehension :
with open(file_path) as f:
    f.readline()
    exam2 = [line.strip().split(sep=',') # strip -> 줄바꿈 제거
                for line in f]    
exam2

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]