<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py19_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import numpy as np
import pandas as pd

# Series

* 한 가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스)
* 축(axis) 레이블을 가지고 있는 1차원 배열(array)

* coding convension

In [75]:
# pd.Series 클래스의 생성자를 호출 -> Series 클래스의 인스턴스 생성
s = pd.Series(data=[1,3,-5,-7])

In [76]:
s   # expression(식) 자동 출력

0    1
1    3
2   -5
3   -7
dtype: int64

In [77]:
print(s)    # print 문장 (statement) 출력

0    1
1    3
2   -5
3   -7
dtype: int64

In [78]:
type(s)

pandas.core.series.Series

In [79]:
s.index # Series 객체의 index 속성 (property, attribute) - 레이블 (label)

RangeIndex(start=0, stop=4, step=1)

In [80]:
s.values    # Series 객체의 values 속성 - 값들의 배열 (ndarray)

array([ 1,  3, -5, -7])

In [81]:
print(s.values)

[ 1  3 -5 -7]

# indexing, slicing

In [82]:
s[0]    # indexing

1

In [83]:
s[3]    # indexing

-7

In [84]:
s[:2]   # slicing

0    1
1    3
dtype: int64

In [85]:
# s[-1] # 음수 인덱스를 사용하면 ValueError 발생
s[-2:]  # 음수 slicing 가능

2   -5
3   -7
dtype: int64

## `iloc, loc` 속성

* `iloc`: integer location, 정수 인덱스 기반의 원소 참조
* `loc`: location, 레이블 기반의 원소 참조

In [86]:
s

0    1
1    3
2   -5
3   -7
dtype: int64

In [87]:
s.loc[0]
# loc 에서 음수 불가 ->레이블 -1은 없기 때문

1

In [88]:
s.iloc[1]

3

In [89]:
s.iloc[-1]

-7

Series의 기본 indexing 방식은 loc 기반 인덱싱이어서 음수 인덱스 사용이 불가능.

In [90]:
# loc를 사용한 slicing
s.loc[0:2]

0    1
1    3
2   -5
dtype: int64

In [91]:
# iloc를 사용한 slicing
s.iloc[0:2]

0    1
1    3
dtype: int64

Slicing의 기본 slicing 방식은 iloc 기반 slicing이어서 음수 인덱스 사용이 가능.

In [92]:
s = pd.Series(data=[1,-3,5,-7,9], index=['a','b','x','y','z'])
s

a    1
b   -3
x    5
y   -7
z    9
dtype: int64

In [93]:
print(s.loc['z'])
print(s.iloc[4])
print(s.iloc[-1])

9
9
9

In [94]:
# slicing
print(s.loc['x':'z'])
print(s.iloc[-3:])

x    5
y   -7
z    9
dtype: int64
x    5
y   -7
z    9
dtype: int64

## fancy indexing

In [95]:
s

a    1
b   -3
x    5
y   -7
z    9
dtype: int64

In [96]:
s.loc[['a','x','z']]

a    1
x    5
z    9
dtype: int64

In [97]:
s.iloc[[0,2,4]]

a    1
x    5
z    9
dtype: int64

# boolean indexing

boolean indexing은 loc 기반으로만 가능

In [98]:
s[s>0]

a    1
x    5
z    9
dtype: int64

In [99]:
s.loc[s>0]

a    1
x    5
z    9
dtype: int64

In [100]:
s>0

a     True
b    False
x     True
y    False
z     True
dtype: bool

# DataFrame

* 데이터를 2차원 (행row, 열column) 형태로 저장하는 데이터 구조(클래스)
* 데이터베이스의 테이블과 유사한 구조

In [101]:
data = {
    'city': ['서울']*3 + ['경기']*3,
    'year': [2020,2021,2022]*2,
    'pop': [0.89, 0.91, 0.92, 1.1, 1.3,1.25],
}

In [102]:
data

{'city': ['서울', '서울', '서울', '경기', '경기', '경기'],
 'pop': [0.89, 0.91, 0.92, 1.1, 1.3, 1.25],
 'year': [2020, 2021, 2022, 2020, 2021, 2022]}

In [103]:
# pd.DataFrame 생성자 호출 -> pd.DataFrame 클래스의 인스턴스 생성
df = pd.DataFrame(data)

In [104]:
print(df)

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [105]:
df  # expression 자동 출력

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [106]:
# pd.DataFrame의 속성들(properties)
print('shape:', df.shape)   #> (row,columns)
print('index:', df.index)   #> 행(row) 레이블
print('columns:', df.columns)   #> 열(column) 레이블

shape: (6, 3)
index: RangeIndex(start=0, stop=6, step=1)
columns: Index(['city', 'year', 'pop'], dtype='object')

## DataFrame 에서 컬럼 선택

* `df['column_name']`
* `df.column_name`
    * 컬럼 이름이 Python의 변수 이름 규칙에 맞지 않는 경우에는 사용할 수 없음.
        * 변수 이름은 영문자, 숫자, underscore(_)만 사용할 수 있음.
        * 변수 이름은 숫자로 시작할 수 없음.
    * 컬럼 이름 DataFrame 객체가 원래 가지고 있었던 속성(변수, 메소드) 이름과 같은 경우에는 사용할 수 없음.

In [107]:
# DataFrame 에서 'pop' 컬럼 선택 --> Series 
df['pop']

0    0.89
1    0.91
2    0.92
3    1.10
4    1.30
5    1.25
Name: pop, dtype: float64

In [108]:
df.pop

<bound method DataFrame.pop of   city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25>

In [109]:
# DataFrame에서 1개 이상의 컬럼 선택 - fancy indexing
df[['city', 'pop']]

  city   pop
0   서울  0.89
1   서울  0.91
2   서울  0.92
3   경기  1.10
4   경기  1.30
5   경기  1.25

In [110]:
df[['pop']] #> DataFrame    
# df['pop'] #> Series

    pop
0  0.89
1  0.91
2  0.92
3  1.10
4  1.30
5  1.25

## DataFrame에서 행(row)을 선택하는 방법

* df.loc[레이블 기반 행 인덱스]
* df.iloc[정수 기반 행 인덱스]

In [111]:
df.loc[0]

city      서울
year    2020
pop     0.89
Name: 0, dtype: object

In [112]:
df.loc[5]   # loc를 사용한 indexing

city      경기
year    2022
pop     1.25
Name: 5, dtype: object

In [113]:
df.iloc[-1] # iloc를 사용한 indexing

city      경기
year    2022
pop     1.25
Name: 5, dtype: object

In [114]:
df.loc[1:3] # loc를 사용한 slicing

  city  year   pop
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10

In [115]:
df.iloc[1:3]

  city  year   pop
1   서울  2021  0.91
2   서울  2022  0.92

In [116]:
df.iloc[:3]

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92

In [117]:
df.head(n=3)

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92

In [118]:
df.iloc[-3:]

  city  year   pop
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [119]:
df.tail(n=3)

  city  year   pop
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [120]:
df

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
3   경기  2020  1.10
4   경기  2021  1.30
5   경기  2022  1.25

In [121]:
df['year'] == 2022

0    False
1    False
2     True
3    False
4    False
5     True
Name: year, dtype: bool

In [122]:
df[df['year']==2022]

  city  year   pop
2   서울  2022  0.92
5   경기  2022  1.25

* boolean indexing에서는 `and, or, not`을 사용할 수 없음
* 대신에 `&, |, ~`연산자를 사용함.
* 반드시 `()`를 사용해서 연산의 순서를 명시해야 함.

In [123]:
# 서울의 2020년 레코드만 선택
# df[ () & () ]
df[(df['city']=='서울') & (df['year']==2020)]

  city  year   pop
0   서울  2020  0.89

In [124]:
df[(df.city == '서울') & (df.year == 2020)]

  city  year   pop
0   서울  2020  0.89

In [125]:
# city가 '서울' 이거나 또는 pop이 1.2 이상인 레코드들을 선택
df[(df.city == '서울') | (df['pop'] >= 1.2)]

  city  year   pop
0   서울  2020  0.89
1   서울  2021  0.91
2   서울  2022  0.92
4   경기  2021  1.30
5   경기  2022  1.25

# DataFrame 메소드

In [126]:
# 숫자 타입 데이터의 기술 통계량(descriptive statistics) 요약: 
# NA가 아닌 개수, 평균, 표준편차, 최소값, 4분위수, 최대값
df.describe()

              year       pop
count     6.000000  6.000000
mean   2021.000000  1.061667
std       0.894427  0.182364
min    2020.000000  0.890000
25%    2020.250000  0.912500
50%    2021.000000  1.010000
75%    2021.750000  1.212500
max    2022.000000  1.300000

In [127]:
# 카테고리 타입 변수의 요약: 빈도수
df['city'].value_counts()

서울    3
경기    3
Name: city, dtype: int64

In [128]:
# 통계 메소드: sum, mean, var, std, min, max, median, ...
print('평균:', df['pop'].mean())
print('표준편차:', df['pop'].std())
print('중앙값:', df['pop'].median())

평균: 1.0616666666666668
표준편차: 0.18236410465512853
중앙값: 1.01

# DataFrame 연습

In [134]:
file_path = 'https://github.com/JakeOh/202110_itw_lab_python/raw/main/csv_exam.csv'

In [135]:
# Github에 저장된 csv파일을 읽고 DataFrame 생성
exam = pd.read_csv(file_path)

In [136]:
exam

    id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

exam 데이터 프레임에서 
* 모든 컬럼의 기술 통계량을 출력
* 1반(class) 학생들의 레코드를 출력
* 수학 평균 출력
* 수학 점수가 평균 이하인 학생들의 레코드를 출력

In [142]:
exam.describe()

             id      class       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

In [144]:
# 세 과목의 기술 통계량 요약
exam[ ['math', 'english', 'science'] ].describe()

            math    english    science
count  20.000000  20.000000  20.000000
mean   57.450000  84.900000  59.450000
std    20.299015  12.875517  25.292968
min    20.000000  56.000000  12.000000
25%    45.750000  78.000000  45.000000
50%    54.000000  86.500000  62.500000
75%    75.750000  98.000000  78.000000
max    90.000000  98.000000  98.000000

In [146]:
exam[exam['class']==1]

   id  class  math  english  science
0   1      1    50       98       50
1   2      1    60       97       60
2   3      1    45       86       78
3   4      1    30       98       58

In [147]:
exam['math'].mean()

57.45

In [148]:
exam.math.mean()

57.45

In [150]:
exam[exam.math >= exam.math.mean()]

    id  class  math  english  science
1    2      1    60       97       60
6    7      2    80       90       45
7    8      2    90       78       25
10  11      3    65       65       65
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [151]:
exam[exam['math']>= exam['math'].mean()]

    id  class  math  english  science
1    2      1    60       97       60
6    7      2    80       90       45
7    8      2    90       78       25
10  11      3    65       65       65
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [153]:
# 세 과목의 점수가 모두 평균 이상인 학생들을 출력
print(exam.math.mean())
print(exam.english.mean())
print(exam.science.mean())

57.45
84.9
59.45

In [155]:
exam[(exam['math']>= exam['math'].mean()) 
    & (exam['english'] >= exam['english'].mean()) 
    & (exam['science']>= exam['science'].mean())]

    id  class  math  english  science
1    2      1    60       97       60
15  16      4    58       98       65

In [166]:
# 1반 학생들의 수학 점수평균
print(exam[exam['class']==1]['math'])
exam[exam['class']==1]['math'].mean()

0    50
1    60
2    45
3    30
Name: math, dtype: int64

46.25

In [167]:
# 2반 학생들의 수학 점수 평균
exam[exam['class']==2]['math'].mean()

61.25

In [168]:
# for - in 구문을 이용해 각 반 학생들의 수학 점수 평균
for c in range(1,6):
    mean = exam[exam['class'] == c]['math'].mean()
    print(f'{c}반 수학 평균: {mean}')

1반 수학 평균: 46.25
2반 수학 평균: 61.25
3반 수학 평균: 45.0
4반 수학 평균: 56.75
5반 수학 평균: 78.0