<a href="https://colab.research.google.com/github/Gasijiyo/FirstStep_Python/blob/master/py26_apt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   [apt_201910.csv](https://github.com/JakeOh/202105_itw_bd26/raw/main/datasets/apt_201910.csv) 파일을 읽고 DataFrame 생성
    *   encoding 파라미터 설정
    *   '가격' 컬럼에는 숫자 자릿수를 구분하는 comma가 사용되고 있음(예: 10,000)
        *   '가격' 컬럼은 숫자 타입이어야 함!
*   데이터 프레임 파악
    *   info, head, tail, describe, dtypes, ...
*   '시군구' 컬럼의 값을 이용해서, 'province' 파생 변수(도, 광역시 이름) 만듦.
    *   '강원도 강릉시 견소동' -> '강원도'
*   '계약년월' 컬럼의 값을 이용해서, 'year(계약년도)', 'month(계약월)' 파생 변수 만듦.
    *   201910 -> 2019, 10
*    서울특별시 아파트들의 동별 아파트 가격의 개수, 평균, 최솟값, 최댓값
*    도/광역시별 아파트 가격 개수, 평균, 최솟값, 최댓값
*    면적이  $84 m^2$  이상  $100 m^2$  미만의 서울특별시 아파트들 중에서, 동별 아파트 가격 개수, 평균, 최솟값, 최댓값
*    면적이 $84 m^2$ 이상 $100 m^2$ 미만의 아파트들 중에서, 도/광역시별 아파트 가격 개수, 평균, 최솟값, 최댓값
    *   결과를 평균의 내림차순으로 정렬해서 출력
    *   결과를 최댓값의 내림차순으로 정렬해서 출력
    *   결과를 최솟값의 오름차순으로 정렬해서 출력

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 시각화 시 한글 폰트 깨짐 테스트했으나 실패
# import matplotlib.font_manager as fm
# font_list = [font.name for font in fm.fontManager.ttflist]
# font_list

In [3]:
file_path = 'https://raw.githubusercontent.com/JakeOh/202110_itw_lab_python/main/apt_201910.csv'

In [4]:
# encoding 설정, 가격 타입 변경(콤마 설정)
# *참고* 타입 변환: apt.astype({'가격' : 'int'})
apt = pd.read_csv(file_path, encoding='cp949', engine='python', thousands=',')
# 데이터프레임 확인
apt

,시군구,번지,본번,부번,단지명,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22
...,...,...,...,...,...,...,...,...,...,...,...,...
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.760,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,26,11200,11,2002,원호암5길 32

In [5]:
# 데이터 정보 확인(인덱스, 데이터타입 등)
apt.info()
# 8 가격 ... int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42758 entries, 0 to 42757
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구     42758 non-null  object
 1   번지      42758 non-null  object
 2   본번      42758 non-null  object
 3   부번      42758 non-null  int64
 4   단지명     42758 non-null  object
 5   면적      42758 non-null  float64
 6   계약년월    42758 non-null  int64
 7   계약일     42758 non-null  int64
 8   가격      42758 non-null  int64
 9   층       42758 non-null  int64
 10  건축년도    42758 non-null  int64
 11  도로명     42758 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 3.9+ MB

In [6]:
apt.head()

,시군구,번지,본번,부번,단지명,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22

In [7]:
apt.tail()

,시군구,번지,본번,부번,단지명,면적,계약년월,계약일,가격,층,건축년도,도로명
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.76,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,26,11200,11,2002,원호암5길 32

In [8]:
apt.describe()

,부번,면적,계약년월,계약일,가격,층,건축년도
count,42758.000000,42758.000000,42758.0,42758.000000,42758.000000,42758.000000,42758.000000
mean,4.257051,75.990614,201910.0,14.246410,31719.163946,9.614575,2002.652252
std,35.928135,24.816118,0.0,8.678427,26001.893045,6.582509,9.716009
min,0.000000,10.020000,201910.0,1.000000,600.000000,-1.000000,1962.000000
25%,0.000000,59.820000,201910.0,7.000000,15500.000000,4.000000,1995.000000
50%,0.000000,82.536900,201910.0,14.000000,25400.000000,9.000000,2003.000000
75%,1.000000,84.961200,201910.0,21.000000,40000.000000,13.000000,2011.000000
max,2269.000000,291.336000,201910.0,31.000000,485000.000000,70.000000,2019.000000

In [ ]:
# '시군구' 컬럼의 값을 이용해서, 'province' 파생 변수(도, 광역시 이름) 만듦
province = []
for p in apt['시군구']: 
    add = p.find(' ')   # 주소의 첫번째 공백까지 
    province.append(p[:add])    #  slicing
province

In [10]:
len(province)   # 시/도 개수 확인

42758

In [36]:
# value_counts 출력
province_counts = pd.value_counts(province)
province_count_df = province_counts.reset_index()
province_count_df.columns = ['province','counts']
province_count_df

   province  counts
0       경기도   12126
1     서울특별시    4701
2      경상남도    2955
3     인천광역시    2761
4     부산광역시    2752
5     대전광역시    2487
6      충청남도    2045
7      경상북도    1985
8     대구광역시    1969
9     광주광역시    1588
10     충청북도    1576
11    울산광역시    1562
12     전라북도    1394
13     전라남도    1234
14      강원도    1143
15  세종특별자치시     315
16  제주특별자치도     165

In [12]:
# 연산 편하게 기존 apt에 추가.
# 선생님의 출제의도가 이건지는 잘 모르겠습니다...
# 그냥 해봤습니다.
apt.insert(1, '시/도명', province)
apt
# apt.drop(['시/도'], axis=1)
# apt

,시군구,시/도명,번지,본번,부번,단지명,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,강원도,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,강원도,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,강원도,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,강원도,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,강원도,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42753,충청북도 충주시 호암동,충청북도,547-6,547,6,호반현대,59.760,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,충청북도,221-23,221,23,호암리버빌(1단지),84.680,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,충청북도,221-23,221,23,호암리버빌(1단지),84.680,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,충청북도,221-23,221,23,호암리버빌(1단지),84.680,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,충청북도,221-23,221,23,호암리버빌(1단지),84.680,201910,26,11200,11,2002,원호암5길 32

In [13]:
# 계약년월' 컬럼의 값을 이용해서, 'year(계약년도)', 'month(계약월)' 파생 변수 만듦
year = []
month = []
for d in apt['계약년월']:
    strd = str(d)   # int to string
    year.append(strd[:4])
    month.append(strd[-2:])

In [14]:
# 계약년도
year_counts = pd.value_counts(year)
year_counts

2019    42758
dtype: int64

In [15]:
# 계약월
month_counts = pd.value_counts(month)
month_counts

10    42758
dtype: int64

In [ ]:
# 서울특별시 아파트들의 동별 아파트 가격의 개수, 평균, 최솟값, 최댓값
dong = []
# for d in apt[apt['시군구'].str.contains('서울')]:
    # dong.append(d[])

In [59]:
# 도/광역시별 아파트 가격의 개수, 평균, 최솟값, 최댓값
# 도/광역시별 아파트 가격의 개수
apt_price_count = apt.groupby(by='시/도명')['가격'].count()
apt_price_count

시/도명
강원도         1143
경기도        12126
경상남도        2955
경상북도        1985
광주광역시       1588
대구광역시       1969
대전광역시       2487
부산광역시       2752
서울특별시       4701
세종특별자치시      315
울산광역시       1562
인천광역시       2761
전라남도        1234
전라북도        1394
제주특별자치도      165
충청남도        2045
충청북도        1576
Name: 가격, dtype: int64

In [60]:
# 도/광역시별 아파트 가격의 평균
apt_price_mean = apt.groupby(by='시/도명')['가격'].mean()
apt_price_mean

시/도명
강원도        14305.559930
경기도        36447.593765
경상남도       20157.054484
경상북도       15304.175819
광주광역시      21786.904282
대구광역시      28031.251397
대전광역시      27591.418979
부산광역시      29593.587209
서울특별시      69302.919166
세종특별자치시    33577.206349
울산광역시      26581.768246
인천광역시      30196.960884
전라남도       14523.552674
전라북도       14655.274032
제주특별자치도    25878.181818
충청남도       17494.407824
충청북도       18068.494289
Name: 가격, dtype: float64

In [62]:
# 도/광역시별 아파트 가격의 최대, 최소값
apt_price_max = apt.groupby(by='시/도명')['가격'].max()
apt_price_max

시/도명
강원도         45800
경기도        262000
경상남도        83200
경상북도        50000
광주광역시      115000
대구광역시      173500
대전광역시      150000
부산광역시      376640
서울특별시      485000
세종특별자치시     82200
울산광역시       81000
인천광역시      300000
전라남도        61800
전라북도        68700
제주특별자치도     76500
충청남도        90000
충청북도        96000
Name: 가격, dtype: int64

In [63]:
# 도/광역시별 아파트 가격의 최소값
apt_price_min = apt.groupby(by='시/도명')['가격'].min()
apt_price_min

시/도명
강원도         950
경기도        2700
경상남도       2700
경상북도        600
광주광역시      4150
대구광역시      1500
대전광역시      2400
부산광역시      1500
서울특별시      8500
세종특별자치시    2880
울산광역시      4000
인천광역시      4000
전라남도       1330
전라북도        900
제주특별자치도    6000
충청남도       1500
충청북도       1100
Name: 가격, dtype: int64

In [86]:
# 면적이 84m^2 이상 100m^2 미만의 서울특별시 아파트들 중에서, 동별 아파트 가격 개수, 평균, 최솟값, 최댓값

# 해당 면적 아파트 데이터 추출
apt_84_100 = apt[(apt['면적']>=84.0) & (apt['면적']<100.0)]
apt_84_100
# 위의 데이터 중 서울아파트 추출
apt_84_100[apt_84_100['시/도명'].str.contains('서울')]

,시군구,시/도명,번지,본번,부번,단지명,면적,계약년월,계약일,가격,층,건축년도,도로명
27027,서울특별시 강남구 논현동,서울특별시,80-13,80,13,프라임,97.8000,201910,1,93000,4,2004,도산대로30길 56
27030,서울특별시 강남구 대치동,서울특별시,1014-3,1014,3,대치삼성,84.5800,201910,17,190000,3,2000,도곡로78길 22
27033,서울특별시 강남구 대치동,서울특별시,988-4,988,4,대치효성,84.9100,201910,6,159000,5,1999,삼성로64길 12
27037,서울특별시 강남구 대치동,서울특별시,1027,1027,0,래미안대치팰리스,84.9700,201910,14,277000,35,2015,삼성로51길 37
27038,서울특별시 강남구 대치동,서울특별시,1027,1027,0,래미안대치팰리스,91.9300,201910,20,275000,23,2015,삼성로51길 35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31691,서울특별시 중랑구 신내동,서울특별시,801,801,0,영풍마드레빌,84.8485,201910,12,55500,6,2004,용마산로129가길 41
31692,서울특별시 중랑구 신내동,서울특별시,479,479,0,중앙하이츠,84.9700,201910,7,41000,1,1996,봉화산로56길 123
31693,서울특별시 중랑구 신내동,서울특별시,479,479,0,중앙하이츠,84.9700,201910,7,43000,5,1996,봉화산로56길 145-1
31694,서울특별시 중랑구 신내동,서울특별시,479,479,0,중앙하이츠,84.9700,201910,11,44300,9,1996,봉화산로56길 123
31695,서울특별시 중랑구 신내동,서울특별시,479,479,0,중앙하이츠,84.9700,201910,12,46700,10,1996,봉화산로56길 145-1

In [84]:
# 면적이 84m^2 이상 100m^2 미만의 아파트들 중에서, 도/광역시별 아파트 가격 개수, 평균, 최솟값, 최댓값
# 가격 개수
apt_84_100.groupby(by='시/도명')['가격'].count()

시/도명
강원도         393
경기도        4659
경상남도       1171
경상북도        731
광주광역시       612
대구광역시       758
대전광역시      1066
부산광역시       886
서울특별시      1511
세종특별자치시     156
울산광역시       657
인천광역시       922
전라남도        394
전라북도        508
제주특별자치도      56
충청남도        725
충청북도        499
Name: 가격, dtype: int64

In [82]:
# 가격 평균 내림차순
apt_84_100.groupby(by='시/도명')['가격'].mean().sort_values(ascending=False)

시/도명
서울특별시      79348.775645
경기도        39507.718395
세종특별자치시    38979.487179
부산광역시      36020.182844
인천광역시      34813.131236
대구광역시      33837.645119
제주특별자치도    33226.785714
울산광역시      31650.003044
대전광역시      30905.909944
광주광역시      28226.101307
경상남도       24684.422716
충청남도       23877.680000
충청북도       21989.987976
경상북도       20489.586867
전라남도       20069.162437
강원도        19480.854962
전라북도       19120.515748
Name: 가격, dtype: float64

In [78]:
# 최소값 오름차순
apt_84_100.groupby(by='시/도명')['가격'].min().sort_values()

시/도명
전라남도        2950
경상북도        4500
전라북도        5000
강원도         5200
경상남도        5800
경기도         7000
충청남도        7400
대전광역시       7500
충청북도        7800
울산광역시       9000
부산광역시       9800
세종특별자치시    10000
인천광역시      10100
광주광역시      11500
대구광역시      11800
제주특별자치도    15800
서울특별시      27500
Name: 가격, dtype: int64

In [80]:
# 최대값 내림차순
apt_84_100.groupby(by='시/도명')['가격'].max().sort_values(ascending=False)

시/도명
서울특별시      340000
경기도        165000
대구광역시       91000
대전광역시       89500
인천광역시       85500
부산광역시       85000
제주특별자치도     75000
세종특별자치시     74000
광주광역시       70500
경상남도        69400
충청남도        67200
울산광역시       65000
경상북도        47250
강원도         45800
충청북도        43000
전라남도        40400
전라북도        37300
Name: 가격, dtype: int64